<app-navbar></app-navbar>
<div class="container">

  <div class="card border-success border-5 mt-3 text-center justify-content-center bg-body-secondary">

    <div class="card-body">
      <h5 class="card-title">Generar Oraciones</h5>
      <form action="">

        <a class="btn btn-primary mb-3" (click)="generar()" type="submit">Generar</a>

      </form>

    </div>
    <div class="border-primary border-3 mb-3 border-primary  ">


      <label class="col col-form-label fw-bolder  fs-4 text-success">{{word}}</label>
    </div>


  </div>


</div>

<ul>
  <li *ngFor="let frase of fra">
    {{frase.ingles}}
  </li>
</ul>